body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8a8a8a;
    color: #333;
}

header {
    background-color: #414243;
    color: #8a8a8a;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    color: #553ab7;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    background-color: #414243;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
